*{
    font-family: inter;
    box-sizing: border-box;
}

.img {
    display: inline-block;
}

.item{
    width: 100px;
    height: 300px;
    margin-left: 500px;
    display: inline-block;
}


.go-back{
    width: 100px;
    height: 25px;
    margin-top: 88px;
    margin-left: 1000px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.product-name{
    width: 415px;
    height: 91px;
    margin-top: 20px;
    margin-left: 578px;
    
}

.product-name-color{
    font-size: 36px;
    font-weight: lighter;
    color: black;
}

.product-name-type{
    font-size: 36px;
    font-weight: bold; 
    color: black;
}

.price{
    width: 103px;
    height: 31px;
    margin-top: 31px;
    margin-left: 582px;
    font-size: 30px;
    color: black;
   
}

.description{
    width: 346px;
    height: 131px;
    margin-top: 48px;
    margin-left: 582px;
    font-size: 14px;
    color: gray;
    
}

.product-size{
    width: 135px;
    height: 37px;
    margin-top: 19px;
    margin-left: 588px;
    
}

.size{
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}

.medium{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.gender{
    width: 88px;
    height: 50px;
    margin-top: 15px;
    margin-left: 977px;
}

.mens{
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}

.cutton{
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}

.cart{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 582px;
    margin-bottom: 20px;
    background-color: black;
    padding: 15px 30px;
}

.add{
    font-size: 13px;
    font-weight: bold;
    color: white;
}

